
data/raw/
data/processed/
data/unified/
data/pseudo_labeled/

models/
*.pt
*.pth
*.ckpt

trained_models/
*.pt
*.pth
*.ckpt

outputs/

__pycache__/
*.py[cod]

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/


Thumbs.db
Desktop.ini
# Video files
*.mp4
*.avi
*.mov
*.mkv
test_videos/

# Compressed / Zip files
*.zip
*.rar
*.7z
*.tar.gz