# =========================
# DATASET
# =========================

data/raw/
data/processed/


# =========================
# TRAINED MODELS
# =========================

models/
*.pt
*.pth
*.ckpt


# =========================
# OUTPUTS
# =========================

outputs/


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]

.venv/
venv/
env/


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# WINDOWS
# =========================

Thumbs.db
Desktop.ini